body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

#changer {
    width: 40px;
    height: 40px;
}

/*#eventTable {
  position:relative;
  left:32%;
  top:7%;
  z-index:-1;
  font-family:din;
  font-size:2em;
  opacity:0;
}*/

/*#eventTable.left {
  left:8%;
}

#iconBack {
  position:absolute;
  z-index:-1;
  top:9%;
  left:0%;
  color:black;
  cursor:pointer;
  opacity:0;
}

#eventTable table {
  font-size:0.8em;
}

#eventTable th {
  padding:1em;
  text-transform:uppercase;
  font-weight:bold;
}

#eventTable td {
  padding-bottom:0;
  padding-left:1em;
  padding-right:1em;
  text-align:center;
}*/